:root {
    --margin: 10px;
}

body {
    background-color: black;
    color: white;
    font-family: system-ui;
}

.app {
    text-align: center;
}

h1 {
    font-size: 5vh;
}

p {
    font-size: 5vh;
}

button {
    font-size: 10vh;
    background-color: transparent;
    width: 40vh;
    border: none;
    border-color: #0a0a0a;
    height: 20vh;
    cursor: pointer;
}

button:hover {
    transition: 0.2s linear;
    height: calc((100%/3) - (2px * 2));
    margin: calc(var(--margin) - 4px);
    background-color: #e9e9e9;
}

.container-box {
    display: flex;
    flex-wrap: wrap;
}

.a {
    width: calc((100%/2) - (var(--margin)* 2));
}

.a p {
    font-size: 1.5em;

}

.a h2 {
    margin: 2%;
    font: 3em system-ui;
    text-align: center;
}

.a:hover {
    transition: 0.2s linear;
    width: calc((100%/2) - (6px * 2));
    margin: calc(var(--margin) - 4px);
}

.box {
    border-radius: 5px;
    margin: var(--margin);
    color: #e9e9e9;
    transition: 0.2s ease-out;
    height: 30vh;
}

#placar1 {
    background-color: #0a0a0a;
}

#placar2 {
    background-color: #0a0a0a;
}